/* Tabs*/
section {
    padding: 10px ;
}

section .section-title {
    text-align: center;
    color: rgb(79, 194, 230);
    margin-bottom: 50px;
    text-transform: uppercase;
}
#tabs{
	background: rgb(255, 255, 255);/*fundo do tab control*/
    color: rgb(0, 158, 255);
    border: 2px solid !important;
    border-color: rgb(0, 158, 255);
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: transparent;
    border-color: transparent transparent rgb(0, 158, 255);
    border-bottom: 2px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: rgba(0, 98, 255, 0.698);
    font-size: 20px;
}
.icone_personalizado {
    size:  20px;
    width: 23px;
    height: 23px;

}