<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<!-- Title  -->
	<title>Hass Soluções - Loja</title>

	<!-- Logo  -->
	<link rel="icon" href="img/core-img/apenaslogo.ico">

	<!-- link com javaScript -->
	<script type="text/javascript" src="js/funcoes.js"></script>

<!-- 	<script >
		function contCart(){
			if (typeof(Storage) !== "undefined") {
				if(sessionStorage.clickcount){
					Number(sessionStorage.clickcount)+1;
				} else{
					sessionStorage.clickcount = 1;
				}
				document.getElementById('result').innerHTML = sessionStorage.clickcount;
			} else{
				document.getElementById('result').innerHTML = "";
			}
		}	
	</script> -->
	<!-- Core Style CSS -->
	<link rel="stylesheet" href="css/core-style.css">
	<link rel="stylesheet" href="style.css">

</head>

<body>
	<!-- ##### Header Area Start ##### -->
	<header class="header_area">
		<div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
			<!-- Classy Menu -->
			<nav class="classy-navbar" id="essenceNav">
				<!-- Logo -->
				<a class="nav-brand" href="index.html"><img src="img/core-img/logo.png" alt=""></a>
				<!-- Navbar Toggler -->
				<div class="classy-navbar-toggler">
					<span class="navbarToggler"><span></span><span></span><span></span></span>
				</div>
				<!-- Menu -->
				<div class="classy-menu">
					<!-- close btn -->
					<div class="classycloseIcon">
						<div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
					</div>
					<!-- Nav Start -->
					<div class="classynav">
						<ul>
							<li><a href="#">Loja</a>
								<div class="megamenu">
									<ul class="single-mega cn-col-4">
										<li class="title">Câmeras</li>
										<li ><a onclick="alerta()" href="#">Bullet</a></li>
										<li><a onclick="alerta()" href="#">Dome</a></li>
										<li><a onclick="alerta()" href="#">IP</a></li>
										<li><a onclick="alerta()" href="#">Speed Dome</a></li>
										<li><a onclick="alerta()" href="#">Sem Fio</a></li>
									</ul>
									<ul class="single-mega cn-col-4">
										<li class="title">Alarmes</li>
										<li><a onclick="alerta()" href="#">Central de Alarme</a></li>
										<li><a onclick="alerta()" href="#">Cerca Elétrica</a></li>
										<li><a onclick="alerta()" href="#">Sensores</a></li>
										<li><a onclick="alerta()" href="#">Sirene</a></li>
										<li><a onclick="alerta()" href="#">Acessórios</a></li>
									</ul>
									<ul class="single-mega cn-col-4">
										<li class="title">Informática</li>
										<li><a onclick="alerta()" href="#">Computadores</a></li>
										<li><a onclick="alerta()" href="#">Periféricos</a></li>
										<li><a onclick="alerta()" href="#">Rede</a></li>
										<li><a onclick="alerta()" href="#">Acessórios</a></li>
										<li><a onclick="alerta()" href="#">Impressoras</a></li>
									</ul>
									<div class="single-mega cn-col-4">
										<img src="img/bg-img/bg-6.jpg" alt="">
									</div>
								</div>
							</li>
						</ul>
					</div>
					<!-- Nav End -->
				</div>
			</nav>

			<!-- Header Meta Data -->
			<div class="header-meta d-flex clearfix justify-content-end">
				<!-- Search Area -->
				<div class="search-area">
					<form action="#" method="post">
						<input type="search" name="search" id="headerSearch" placeholder="Pesquisar">
						<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
					</form>
				</div>
				<div class="cart">
					<img id="carrinho" src="img/core-img/cart.png" alt="">
					<div id="result">
					</div>
				</div> 
			</div>

		</div>
	</header>
	<!-- ##### Header Area End ##### -->

	<!-- ##### Right Side Cart Area ##### -->
	<div class="cart-bg-overlay"></div>

	<div class="right-side-cart-area">

		<!-- Cart Button -->
		<div class="cart-button">
			<a href="#" id="rightSideCart"><img src="img/core-img/cart.png" alt=""> <span>3</span></a>
		</div>

		<div class="cart-content d-flex">

			<!-- Cart List Area -->
			<div class="cart-list">
				<!-- Single Cart Item -->
				<div class="single-cart-item">
					<a href="#" class="product-image">
						<img src="img/product-img/product-1.jpg" class="cart-thumb" alt="">
						<!-- Cart Item Desc -->
						<div class="cart-item-desc">
							<span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
							<span class="badge">Mango</span>
							<h6>Button Through Strap Mini Dress</h6>
							<p class="size">Size: S</p>
							<p class="color">Color: Red</p>
							<p class="price">$45.00</p>
						</div>
					</a>
				</div>

				<!-- Single Cart Item -->
				<div class="single-cart-item">
					<a href="#" class="product-image">
						<img src="img/product-img/product-2.jpg" class="cart-thumb" alt="">
						<!-- Cart Item Desc -->
						<div class="cart-item-desc">
							<span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
							<span class="badge">Mango</span>
							<h6>Button Through Strap Mini Dress</h6>
							<p class="size">Size: S</p>
							<p class="color">Color: Red</p>
							<p class="price">$45.00</p>
						</div>
					</a>
				</div>

				<!-- Single Cart Item -->
				<div class="single-cart-item">
					<a href="#" class="product-image">
						<img src="img/product-img/product-3.jpg" class="cart-thumb" alt="">
						<!-- Cart Item Desc -->
						<div class="cart-item-desc">
							<span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
							<span class="badge">Mango</span>
							<h6>Button Through Strap Mini Dress</h6>
							<p class="size">Size: S</p>
							<p class="color">Color: Red</p>
							<p class="price">$45.00</p>
						</div>
					</a>
				</div>
			</div>

			<!-- Cart Summary -->
			<div class="cart-amount-summary">

				<h2>Summary</h2>
				<ul class="summary-table">
					<li><span>subtotal:</span> <span>$274.00</span></li>
					<li><span>delivery:</span> <span>Free</span></li>
					<li><span>discount:</span> <span>-15%</span></li>
					<li><span>total:</span> <span>$232.00</span></li>
				</ul>
				<div class="checkout-btn mt-100">
					<a href="checkout.html" class="btn essence-btn">check out</a>
				</div>
			</div>
		</div>
	</div>
	<!-- ##### Right Side Cart End ##### -->

	<!-- ##### Welcome Area Start ##### -->
	<section class="welcome_area bg-img background-overlay" style="background-image: url(img/bg-img/bg-1.jpg);">
		<div class="container h-100">
			<div class="row h-100 align-items-center">
				<div class="col-12">
					<div class="hero-content">
						<h2>Produtos</h2>
						<a href="#" class="btn essence-btn">ver produtos</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ##### Welcome Area End ##### -->

	<!-- ##### Top Catagory Area Start ##### -->
	<div class="top_catagory_area section-padding-80 clearfix">
		<div class="container">
			<div class="row justify-content-center">
				<!-- Single Catagory -->
				<div class="col-12 col-sm-6 col-md-4">
					<div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(img/bg-img/bg-2.jpg);">
						<div class="catagory-content">
							<a href="#">Câmeras</a>
						</div>
					</div>
				</div>
				<!-- Single Catagory -->
				<div class="col-12 col-sm-6 col-md-4">
					<div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(img/bg-img/bg-3.jpg);">
						<div class="catagory-content">
							<a href="#">Alarmes</a>
						</div>
					</div>
				</div>
				<!-- Single Catagory -->
				<div class="col-12 col-sm-6 col-md-4">
					<div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(img/bg-img/bg-4.jpg);">
						<div class="catagory-content">
							<a href="#">Informática</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ##### Top Catagory Area End ##### -->

	<!-- ##### CTA Area Start ##### -->
	<div class="cta-area">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="cta-content bg-img background-overlay" style="background-image: url(img/bg-img/bg-5.jpg);">
						<div class="h-100 d-flex align-items-center justify-content-end">
							<div class="cta--text">
								<h2>Serviços de T.I</h2>
								<a href="#" class="Bottom-Consulte">Consulte</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ##### CTA Area End ##### -->

	<!-- ##### New Arrivals Area Start ##### -->
	<section class="new_arrivals_area section-padding-80 clearfix">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section-heading text-center">
						<h2>Mais Vendidos</h2>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="popular-products-slides owl-carousel">

						<!-- Single Product -->
						<div class="single-product-wrapper">
							<!-- Product Image -->
							<div class="product-img">
								<img src="img/product-img/product-1.jpg" alt="">
								<!-- Hover Thumb -->
								<!-- <img class="hover-img" src="img/product-img/product-1.jpg" alt=""> -->
								<!-- Favourite -->
								<div class="product-favourite">
									<a href="#" class="favme fa fa-heart"></a>
								</div>
							</div>
							<!-- Product Description -->
							<div class="product-description">
								<span>Intelbras</span>
								<a href="single-product-details.html">
									<h6>CAMERA INTELBRAS VHD 1120 Dome - G4</h6>
								</a>
								<p class="product-price">R$131.00</p>

								<!-- Hover Content -->
								<div class="hover-content">
									<!-- Add to Cart -->
									<div class="add-to-cart-btn">
										<a href="#" class="group-addCart" onclick="contCart()">Add Carrinho</a>
									</div>
								</div>
							</div>
						</div>

						<!-- Single Product -->
						<div class="single-product-wrapper">
							<!-- Product Image -->
							<div class="product-img">
								<img src="img/product-img/product-2.jpg" alt="">
								<!-- Hover Thumb -->
								<!-- <img class="hover-img" src="img/product-img/product-3.jpg" alt=""> -->
								<!-- Favourite -->
								<div class="product-favourite">
									<a href="#" class="favme fa fa-heart"></a>
								</div>
							</div>
							<!-- Product Description -->
							<div class="product-description">
								<span>Intelbras</span>
								<a href="single-product-details.html">
									<h6>DVR INTELBRAS MULTI HD MHDX 1004</h6>
								</a>
								<p class="product-price">R$389.00</p>

								<!-- Hover Content -->
								<div class="hover-content">
									<!-- Add to Cart -->
									<div class="add-to-cart-btn">
										<a href="#" class="group-addCart" onclick="contCart()">Add Carrinho</a>
									</div>
								</div>
							</div>
						</div>

						<!-- Single Product -->
						<div class="single-product-wrapper">
							<!-- Product Image -->
							<div class="product-img">
								<img src="img/product-img/product-3.jpg" alt="">
								<!-- Hover Thumb -->
								<!-- <img class="hover-img" src="img/product-img/product-4.jpg" alt=""> -->

								<!-- Favourite -->
								<div class="product-favourite">
									<a href="#" class="favme fa fa-heart"></a>
								</div>
							</div>
							<!-- Product Description -->
							<div class="product-description">
								<span>Intelbras</span>
								<a href="single-product-details.html">
									<h6>CAMERA INTELBRAS VHD 1120 Bullet - G4</h6>
								</a>
								<p class="product-price"> R$145.00</p>

								<!-- Hover Content -->
								<div class="hover-content">
									<!-- Add to Cart -->
									<div class="add-to-cart-btn">
										<a href="#" class="group-addCart" onclick="contCart()">Add Carrinho</a>
									</div>
								</div>
							</div>
						</div>

						<!-- Single Product -->
						<div class="single-product-wrapper">
							<!-- Product Image -->
							<div class="product-img">
								<img src="img/product-img/product-4.jpg" alt="">
								<!-- Hover Thumb -->
								<!-- Favourite -->
								<div class="product-favourite">
									<a href="#" class="favme fa fa-heart"></a>
								</div>
							</div>
							<!-- Product Description -->
							<div class="product-description">
								<span>Western Digital</span>
								<a href="single-product-details.html">
									<h6>HD 1TB WESTERN DIGITAL PURPLE</h6>
								</a>
								<p class="product-price">R$437.00</p>

								<!-- Hover Content -->
								<div class="hover-content">
									<!-- Add to Cart -->
									<div class="add-to-cart-btn">
										<a href="#" class="group-addCart" onclick="contCart()">Add Carrinho</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ##### New Arrivals Area End ##### -->

	<!-- ##### Brands Area Start ##### -->
	<div class="brands-area d-flex align-items-center justify-content-between">
		<!-- Brand Logo -->
		<div class="single-brands-logo">
			<img src="img/core-img/brand1.png" alt="">
		</div>
		<!-- Brand Logo -->
		<div class="single-brands-logo">
			<img src="img/core-img/brand2.png" alt="">
		</div>
		<!-- Brand Logo -->
		<div class="single-brands-logo">
			<img src="img/core-img/brand3.png" alt="">
		</div>
		<!-- Brand Logo -->
		<div class="single-brands-logo">
			<img src="img/core-img/brand4.png" alt="">
		</div>
		<!-- Brand Logo -->
		<div class="single-brands-logo">
			<img src="img/core-img/brand5.png" alt="">
		</div>
		<!-- Brand Logo -->
		<div class="single-brands-logo">
			<img src="img/core-img/brand6.png" alt="">
		</div>
	</div>
	<!-- ##### Brands Area End ##### -->

	<!-- ##### Footer Area Start ##### -->
	<footer class="footer_area clearfix">
		<div class="container">
			<div class="row">
				<!-- Single Widget Area -->
				<div class="col-12 col-md-6">
					<div class="single_widget_area d-flex mb-30">
						<!-- Logo -->
						<div class="footer-logo mr-50">
							<a href="#"><img src="img/core-img/logo2.png" alt=""></a>
						</div>
						<!-- Footer Menu -->
						<div class="footer_menu">
							<ul>
								<li><a href="contact.html">Contato</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Single Widget Area -->
				<div class="col-12 col-md-6">
					<!-- <div class="single_widget_area mb-30">
						<ul class="footer_widget_menu">
							<li><a href="#">Order Status</a></li>
							<li><a href="#">Payment Options</a></li>
							<li><a href="#">Shipping and Delivery</a></li>
							<li><a href="#">Guides</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Terms of Use</a></li>
						</ul>
					</div> -->
				</div>
			</div>

			<div class="row align-items-end">
				<!-- Single Widget Area -->
				<div class="col-12 col-md-6">
					<div class="single_widget_area">
						<div class="footer_heading mb-30">
							<h6>Inscreva-se</h6>
						</div>
						<div class="subscribtion_form">
							<form action="#" method="post">
								<input type="email" name="mail" class="mail" placeholder="Seu email aqui">
								<button type="submit" class="submit"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
							</form>
						</div>
					</div>
				</div>
				<!-- Single Widget Area -->
				<div class="col-12 col-md-6">
					<div class="single_widget_area">
						<div class="footer_social_area">
							<a href="https://www.facebook.com/hasssolucoes"  target="_blank" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							<a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
			</div>

			<div class="row mt-5">
				<div class="col-md-12 text-center">
					<p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>
			</div>

		</div>
	</footer>
	<!-- ##### Footer Area End ##### -->

	<!-- jQuery (Necessary for All JavaScript Plugins) -->
	<script src="js/jquery/jquery-2.2.4.min.js"></script>
	<!-- Popper js -->
	<script src="js/popper.min.js"></script>
	<!-- Bootstrap js -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Plugins js -->
	<script src="js/plugins.js"></script>
	<!-- Classy Nav js -->
	<script src="js/classy-nav.min.js"></script>
	<!-- Active js -->
	<script src="js/active.js"></script>

</body>

</html>